{% extends "base.html" %}

{% block contenido %}
    <h1>Cambiar contraseña contraseña</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.contraseña.label }}<br>
            {{ form.contraseña(size=32) }}<br>
            {% for error in form.contraseña.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contraseña2.label }}<br>
            {{ form.contraseña2(size=32) }}<br>
            {% for error in form.contraseña2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
